body {
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX8927597.jpg);
    color: #000;
    font-size: 30px;
}

h1, p, li, ul {
    font-family: sans-serif;
    padding: 5px;
    background-color: #fff;
}

h1 {
    text-align: center;
    text-decoration: underline;
}
